spring:
  application:
    name: backend

  datasource:
    url: jdbc:postgresql://localhost:5432/autoflex
    username: autoflex
    password: autoflex
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080

logging:
  level:
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
